:root {
  --white-100: #fafafa;
  --white-200: #f8f8f7;
  --white-300: #d7cabd;
  --gray-100: #cfcdd7;
  --gray-200: #a09db0;
  --gray-300: #5b5a62;
  --red-100: #ef2917;
  --red-200: #ac3931;
  --red-300: #8f2a22;
  --bs-md: 0px 4px 8px 0px var(--gray-100);
}
body {
  background: var(--white-200);
  color: var(--gray-300);
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0 15px;
}
header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
hr {
  margin: 10px 0;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 680px;
}

.TimeboxEditor {
  background-color: var(--white-100);
  border: 1px solid var(--gray-100);
  border-radius: 10px;
  text-align: right;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: var(--bs-md);
}

label {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input {
  font-size: 17px;
  min-width: 60%;
  margin-left: 15px;
  padding: 10px 15px;
  border: 1px solid var(--gray-300);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

input:not(:disabled):focus,
input:not(:disabled):hover {
  border-color: var(--gray-300);
}

input:disabled {
  border-color: var(--gray-100);
}

button {
  font-size: 17px;
  color: var(--white-100);
  background-color: var(--gray-300);
  border: 1px solid var(--gray-300);
  border-radius: 25px;
  padding: 10px 15px;
  margin: 3px;
  transition: opacity 0.3s ease-in-out;
}

button:not(:disabled):hover {
  cursor: pointer;
  opacity: 0.8;
}

button:disabled {
  opacity: 0.2;
}

.Timebox {
  background-color: var(--white-100);
  border: 1px solid var(--gray-100);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: var(--bs-md);
}

.Clock {
  color: var(--red-200);
}

.ProgressBar {
  border: 1px solid var(--red-300);
  border-radius: 22px;
  height: 36px;
  margin-bottom: 15px;
  padding: 2px;
}
.ProgressBar > div {
  height: 100%;
  background-color: var(--red-200);
  border-radius: 20px;
}
.SingleProgressBar {
  height: 36px;
  background-color: var(--red-200);
  max-width: 100%;
  border-radius: 22px;
  margin-bottom: 15px;
}
/** Utilities Class **/
.from-right {
  float: right;
}
.inactive {
  filter: blur(1.5px) grayscale(1) opacity(0.4);
  box-shadow: none;
}
