$beige-color: hsl(42, 39%, 94%);
$linen-color: hsl(30, 67%, 94%);
$tan-color: hsl(35, 34%, 67%);

$red-color: hsl(2, 77%, 58%);
$orange-color: hsl(33, 98%, 55%);
$yellow-color: hsl(51, 98%, 55%);
$blue-color: hsl(194, 75%, 56%);
$green-color: hsl(90, 57%, 51%);
$dark-color: hsl(0, 2%, 20%);
$brown-color: hsl(33, 78%, 23%);

$shadow-sm: 0px 1px 3px 0px $tan-color;
$shadow-md: 0px 2px 6px 0px $tan-color;

$text-sm: 14px;
$text-md: 20px;
$text-xl: 24px;
$text-xxl: 32px;
$text-2xl: 38px;
$text-3xl: 56px;
